main{
    height: 1080px;
}

.Screen {
    width: 1920px;
    height: 1080px;
    margin-left: 0px;
    padding-top: 10px;

    display: flex;
    text-align: center;
    justify-content: center;
}

.main {
    width: 1720px;
    height: 800px;
    margin-top: 185px;

    border-radius: 10px;

    border: 1px solid rgba(5, 5, 5, 0.01);
    background: rgba(141, 141, 141, 0.35);
    backdrop-filter: blur(15.399999618530273px);

    position: block;
    text-align: center;
}

.title {
    height: 85px;
    margin-top: 60px;

    font-size: 60px;
    font-family: 'Noto Sans KR';
    color: #fff;

    display: center;
    text-align: center;
    justify-content: center;
}

.project {
    margin-top: 3px;

    font-family: 'Noto Sans KR';
    font-size: 24px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.83);
    
}

.parent {
    width: 1420px;
    margin-top: 65px;
    margin-left: 150px;
    gap: 110px;

    display: flex;

}

.frames {
    width: 400px;
    height: 525px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 375px;
    aspect-ratio: auto 1/1;
    border-radius: 50%;

    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(9.800000190734863px);

}

.circle:hover {
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(15.399999618530273px);

}

.circleIMG {
    width: 345px;
    margin-top: 15px;

    aspect-ratio: auto 1/1;
    border-radius: 50%;

    opacity: 85%;
}

.textBox {
    width: 400px;
    margin-top: 35px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.texts {

    font-family: 'Noto Sans KR';
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.80);
    letter-spacing: 0.5px;
    
    display: flex;
    text-align: center;

    white-space: pre-line;
}